* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(1, 1, 32);
    font-family: Poppins;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
.header {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(226, 78, 78);
    color: white;
}

.earth {
    width: 100px;
    padding-right: 15px;
}

.entries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* coutnry header */

.country-header {

    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(243, 243, 243);
}

.country-header-info {
    margin-left: 450px;
    width: 200px;
    display: flex;

}

.country-header-name {
    padding-right: 20px;
}


.country-flag {
    height: 40px;
    width: 60px;
}

/* Entry Styling */
.card {
    background-color: white;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
}
.card--attraction-image {
    width: 400px;
    left: 0;
}

.card--information {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column; 
    border-color: lightblue;
    border-style: solid;
    border-width: 1px;
    width: 600px;
}

.card--info-line1 {
    display: flex;
    align-items: center;
}

.maps-icon {
    width: 30px;
}

.card--info-line2 {
    
}


.card--info-line3 {
    
}

.card--info-line4 {
    color: gray;
}

.content {
    background-color: darkgray;
    padding: 20px;
}