* {
    margin: 0;
}
body {
    font-family: Arial;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally if needed */
    height: 100vh; /* Adjust as needed */
}


#counter {
    text-align: center;
}

#number {
    padding: 30px;
    color: green;
    font-size: 60px;
    text-align: center;
}

#buttons {
    
}